<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('vision.users/add')}"
               data-auth-edit="{:auth('vision.users/edit')}"
               data-auth-delete="{:auth('vision.users/delete')}"
               data-auth-stock="{:auth('vision.users/stock')}"
               data-auth-modify="{:auth('vision.users/modify')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>