<div class="layuimini-container">
    <div class="vision-edit-record vision-read-record">
        <div class="layui-form-item vision_form_flex">
            <label>会员卡号：{$row.member|default=''}</label>
            <label>姓名：{$row.name|default=''}</label>
            <label>电话：{$row.phone|default=''}</label>
            <label>年龄：{$row.age|default=''}</label>
            <label>生日：{$row.birthday|default=''}</label>
            <label>性别：{if $row.sex==0} 男 {else} 女 {/if}</label>
        </div>
    </div>

    <div class="hr-line"></div>

    <div class="vision-edit-record">
        {foreach $row.recordList as $i=>$value}
        <h3>检测时间：{$value.create_time}</h3>
        <div class="layui-form-item vision_form_flex">
            <label>职业：{$value.occupation}</label>
            <label>配镜类型：{$value.vision_type}</label>
            <label>戴镜历史：{$value.glasses}</label>
        </div>
        <div class="layui-form-item vision_form_flex">
            <div class="layui-input-block layui-form-table-edit">
                <table>
                    <thead>
                        <tr>
                            <th>配镜处方</th>
                            <th>球镜SPH</th>
                            <th>柱镜CYL</th>
                            <th>轴位AX</th>
                            <th>瞳距MM</th>
                            <th>瞳高MM</th>
                            <th>下加光ADD</th>
                            <th>矫正视力</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>右(R)</td>
                            <td>{$value.r_sph}</td>
                            <td>{$value.r_cyl}</td>
                            <td>{$value.r_ax}</td>
                            <td>{$value.r_ipd}</td>
                            <td>{$value.r_iph}</td>
                            <td>{$value.r_add}</td>
                            <td>{$value.r_correct}</td>
                        </tr>
                        <tr>
                            <td>左(L)</td>
                            <td>{$value.l_sph}</td>
                            <td>{$value.l_cyl}</td>
                            <td>{$value.l_ax}</td>
                            <td>{$value.l_ipd}</td>
                            <td>{$value.l_iph}</td>
                            <td>{$value.l_add}</td>
                            <td>{$value.l_correct}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-item vision_form_flex">
            <label>验光师：{$value.optometry}</label>
            <label>配镜师：{$value.optician}</label>
            <label>质检员：{$value.quality}</label>
        </div>
        <div class="layui-form-item vision_form_flex">
            <label>镜架材料：{$value.frame}</label>
            <label>名称：{$value.frame_name}</label>
            <label>型号：{$value.model}</label>
            <label>颜色：{$value.color}</label>
            <label>镜片名称：{$value.lens_name}</label>
            <label>折射率：{$value.refraction}</label>
            <label>膜层：{$value.film}</label>
        </div>
        <div class="layui-form-item vision_form_flex">
            <div class="layui-input-block layui-form-table-edit">
                <table>
                    <thead>
                        <tr>
                            <th>序列</th>
                            <th>原价</th>
                            <th>单位</th>
                            <th>折扣(0无折扣)</th>
                            <th>优惠价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>镜片价格</td>
                            <td>{$value.lens_price}</td>
                            <td>{$value.lens_number} 副 / 对</td>
                            <td>{$value.lens_discount}</td>
                            <td>{$value.lens_discount_price}</td>
                        </tr>
                        <tr>
                            <td>镜架价格</td>
                            <td>{$value.frame_price}</td>
                            <td>{$value.frame_number} 副 / 架</td>
                            <td>{$value.frame_discount}</td>
                            <td>{$value.frame_discount_price}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-item vision_form_flex">
            <label>总原价金额：{$value.total_price}</label>
            <label>总实收金额：{$value.actual_price}</label>
        </div>
        <div class="layui-form-item vision_form_flex">
            <label>备注信息：{$value.remarks}</label>
        </div>

        <div class="hr-line"></div>
        {/foreach}
    </div>

</div>